# requirements.txt for Apache Airflow

# Apache Airflow
apache-airflow==2.7.0

# Additional packages for your DAGs and plugins
pandas==2.0.3
numpy
requests
praw==7.4.0


mysql-connector-python




apache-airflow-providers-amazon
scikit-learn==1.3.0
sqlalchemy
mysql-connector-python
openpyxl==3.1.2
validators
xlrd>=2.0.1
html5lib
fuzzywuzzy
selenium==4.12.0
chromedriver-autoinstaller==0.6.2
openpyxl
